@import 'normalize.css';

@lost flexbox flex;

body {
	background: url(../images/ohio.png) #2B3E51 center top no-repeat;
	background-size: 1150px;
	font-family: 'Roboto', sans-serif;
}

.intro {
	&__container {
		text-align: center;
		height: 400px;
		img {
			width: 5.5em;
		}
		h1 {
			color: #ECF0F1;
		}
		p {
			color: #999;
		}
	}
}
