.tools {
	background: #F2F2F2;
	padding: 30px 50px;
	text-align: center;
	&__header {
		font-size: 1.9em;
		font-weight: 500;
		margin-bottom: 0px;
		color: #26858E;
		b {
			font-weight: 700;
		}
	}
	&__sub-header {
		font-size: 1.4em;
		font-weight: 300;
		margin-top: 10px;
		margin-bottom: 50px;
		color: #004057;
	}
}

.tools-list {
	lost-center: 1080px;
	list-style: none;
	padding: 0;
	&__item {
  		lost-column: 1/2 2 80px;
  		text-align: left;
  		margin-bottom: 30px;
  		h2 {
  			color: #666;
  			margin-top: 10px;
  			margin-bottom: 0px;
  			font-size: 1.6em;
			font-weight: 400;
			img {
	  			height: 30px;
	  			margin-right: 11px;
  			}
  		}
  		p {
  			font-size: 1em;
  			margin-top: 8px;
  			font-weight: 300;
  			line-height: 1.4em;
  			color: #333;
  		}
	}
}

@media screen and (max-width: 840px) {
	.tools {
		padding: 30px 30px;
	}
	.tools-list {
		lost-center: 1180px;
		list-style: none;
		padding: 0;
		&__item {
	  		lost-column: 1/1 1 80px;
	  	}
	}
}

/* Old code
@media screen and (max-width: 980px) {
	.skills {
		padding: 30px 40px;
		&__header {
			font-size: 1.6em;
			font-weight: 500;
			margin-bottom: 0px;
			b {
				font-weight: 700;
			}
		}
		&__sub-header {
			font-size: 1.2em;
			font-weight: 300;
			margin-top: 10px;
			margin-bottom: 50px;
		}
	}

	.skill-list {
		lost-center: 100%;
		.skill-item {
	  		lost-column: 1/2 2 70px;
	  		margin-top: 20px;
	  		.skill-title {
				font-weight: 400;
	  		}
	  		.skill-details {
	  			font-size: 1em;
	  		}
	  		.skill-example {
	  			font-size: .9em;
	  		}
		}
	}
}

@media screen and (max-width: 768px) {
	.skill-list {
		lost-center: 100%;
		.skill-item {
	  		lost-column: 1/1 70px;
	  		margin-top: 20px;
	  		.skill-title {
				font-weight: 400;
	  		}
	  		.skill-details {
	  			font-size: 1em;
	  		}
	  		.skill-example {
	  			font-size: 0.9em;
	  		}
		}
	}
}
*/
